*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #00000050;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.options{
    background-color: #ffffff75;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    padding: 1rem;
    gap: 0.5rem;
}

.options button{
    padding: 4px 8px;
    border-radius: 8px;
    border: none;
}

.options div{
    display: flex;
    flex-direction:  row;
    gap: 0.5rem;
    align-items: center;
}

.options input{
    width: 64px;
}



